*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: myfont;
    src: url(arabella/Arabella.ttf);
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 5px;
}
html::-webkit-scrollbar{
    width: 7px;
}
body{
    background-color: hsl(0, 0%, 0%);
}

/*Header Start*/

header.sticky{
    box-shadow: rgba(0,0,0, 0.1) 0px 4px 12px;    
    padding: 5px 5%;
    background-color: hsl(230, 100%, 97%);
}

@media screen and (min-width: 576px){
    .search{
        padding-top: 15rem;
    }
    .search_form{
        max-width: 450px;
        margin-inline: auto;
    }
    .search_close{
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

}


@media screen and (min-width: 1023px){
    .nav{
        height: 5.5rem;
        column-gap: 3rem;
    }
    .nav_close,
    .nav_toggle{
        display: none;
    }
    .nav_menu{
        margin-left: auto;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 3rem;
    }
}
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }
}
/* Header End */

/*dashboard start*/
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #000000;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #727272;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #979699;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #414141;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #414141;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #444444;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #000000;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #4e0000;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #414141;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #000000;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
/*dashboard end*/

/*navbar start*/
nav{
    display: flex;
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 3 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    padding-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }


/*navbar end*/


/* Home Section Start */
.home{
    padding-top: 3cm;
    padding-bottom: 3cm;
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all .50s ease;
}
.hm-img {
    position: relative;
}

.hm-img img{
    height: 700px;
    width: 1900px;
  }
.content1{
    width: 700px;
    height: 300px;
    background-color: #000000c4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.content1 h1{
    margin-top: 40px;
    font-family: myfont;
    font-size: 40px;
    font-weight: 800;
    color: #790000;
   
}
.content1 p{
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
}
.button{
    width: 250px;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: 2px solid hsl(0, 0%, 100%);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    transition: .5s;
    z-index: 1;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.button::before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(43deg);
    background-color: hsl(7, 100%, 19%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.button:hover::before{
    width: 105%;
}
.button:hover{
    color: hsl(230, 100%, 97%);
}
@media(max-width:1330px){
    .home{
        background-position: 50%;
    }
}
/* Home Section End */

/* Popular collections Start */
.popular{
    padding: 100px 12.5% 100px;
    transition: all .50s ease;
}
.popular .card-content{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    text-align: center;
    gap: 0.90rem;
    margin-top: 30px;
    height: 300px;
    width: 1450px;
}
.popular .card-content .row{
    padding: 3px;
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.popular .card-content .row img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
}
.popular .card-content .row img:hover{
    transform: scale(1.1);
}
.pop-cont{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0, 0.6);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;

}
.pop-cont:hover{
    opacity: 1;
}
.pop-cont h3{
    font-size: 19px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 0px 1px 0px rgb(65, 65, 65);
    padding-top: 20px;
    padding-left: 10px;
}
.pop-cont p{
    color: #fff;
    font-size: 13px;
    text-align: left;
    padding-top: 150px;
    padding-left: 10px;
}
@media(max-width:920px){
    .popular .card-content{
        grid-template-columns: 1fr;
    }
}
/* Popular collection End */


/* Services Start */
.services{
    padding: 120px 12.5% 120px;
    transition: all .50s ease;
}
.main-text  h4{
   padding-bottom: 30px;
    padding-left: 640px;
    justify-content: center;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 0px 1px 0px black;
}
.main-text h3{
    font-size: 23px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.main-text h3 span{
    font-family: myfont;
    color: #790000;
    border-bottom: 3px solid #790000 ;
}
.services .card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    text-align: center;
    gap: 4rem;
    margin-top: 30px;
}
.services .card-content .row{
    width: 350px;
    height: 500px;
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(65, 65, 65, 0.795);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.services .card-content .row:hover{
    background-color: rgb(185, 185, 185);
    
}
.services .row img{
    width: 100%;
}
.services .card-body h3{
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
    color: #ffffff;
}
.services .card-body p{
    color: #474747;
    font-size: 12px;
    font-weight: 700;
}
@media(max-width:920px){
    .services .card-content{
        grid-template-columns: 1fr;
    }
}
/* Services End */


/* Packages Section Start */
.packages{
    padding: 100px 12.5% 100px;
    transition: all .50s ease;
}
.heading h3{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.packages .card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 0.90rem;
    margin-top: 30px;
}
.packages .card-content .row{
    width: 100%;
    padding: 10px;
    background-color: hsl(230, 100%, 97%);
    color: #000000;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(99,99,99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
    cursor: pointer;
}
.packages .img{
    text-align: center;
}
.packages .img img{
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.packages .img img:hover{
    transform: scale(1.1);
}
.packages .card-body h3{
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
}
.packages .card-body h3 i{
    margin-top: 6px;
    color: orange;
    font-size: 13px;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}
.packages .card-body p{
    font-size: 10px;
    margin-top: 5px;
    color: #000000;
}
.packages .card-body h5{
    font-size: 16px;
    color: #000000;
    margin-top: 5px;
}
.packages .card-body h5 button{
    float: right;
    width: 100px;
    height: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media(max-width:920px){
    .packages .card-content{
        grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }
}
@media(max-width:951px){
    .packages{
        height: auto;
    }
}
/* Packages Section End */


/*About Section Start*/

.container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 0, 0);
}
.content {
    text-align: center;
    justify-content: left;
}
.content h1{
    color: #fff; 
    font-weight: 600;
    padding-bottom: 30px;
    font-family: myfont;
}
.abtpara p{
    justify-content: left;
    color: #fff;
   
}
/*About End*/


/* Gallary Section Start */

  
#slider{
    position: relative;
    width: 25%;
    height: 32vw;
    margin: 150px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
}
input[type=radio]{
    position: relative;
    top: 100%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    transform: translateX(-83px);
    cursor: pointer;
}
input[type=radio]:nth-child(5){
    margin-left: 0px;
}
input[type=radio]:checked{
    opacity: 1;
}
#slider label,
#slider label img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    cursor: pointer;
}

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5{
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
}
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
}
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.3);
    transform: translate3d(-40%, 0, -100px);
}
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}


/* Gallary Section End */







/* Offer Section Start */
.offer{
    width: 100%;
    height: 65vh;
    background-color: rgb(82, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    padding: 30px 12.5% 30px;
    transition: all .50s ease;
}
.offer-content{
    flex: 1 1 400px;
    margin-left: 15px;
}
.offer .img{
    flex: 1 1 150px;
}
.offer .img img{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: hsl(230, 100%, 97%);
    cursor: pointer;
}
.offer-content h6{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}
.offer-content h3{
    margin-top: 10px;
    color: hsl(230, 100%, 97%);
    font-size: 32px;
    font-weight: 700;
    text-shadow: 1px 1px 3px hsl(230, 100%, 97%);
}
.offer-content h4{
    font-size: 17px;
    margin-top: 10px;
    font-weight: 600;
    color: hsl(230, 100%, 97%);
}
.offer-content h5 span{
    color: #ffffff;
}
.offer-content p{
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 20px;
}
#btn{
    width: 150px;
    height: 36px;
    background-color: hsl(230, 100%, 97%);
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
#btn a{
    color: #000000;
}
#btn:hover{
    width: 175px;
}
@media(max-width:900px){
    .offer{
        height: auto;
    }
}
@media(max-width:750px){
    .offer{
        text-align: center;
    }
    #btn{
        margin-bottom: 5%;
    }
}
/* Offer Section End*/




/* Review Section Start */

.review-card img{
    height: 25px;
    width: 10vh;
    border-radius: 100px;
    
}
.reviews{
    padding: 100px 12.5% 100px;
    transition: all .50s ease;
}
.reviews h3{
    font-size: 23px;
    color: #ffffff;
    text-align: center;
}
.reviews h3 span{
    border-bottom: 3px solid rgb(255, 255, 255);
    font-weight: bold;
}
.review-card{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 0.90rem;
}
.review-card .row{
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s ease;
    padding: 10px;
    cursor: pointer;
}
.rating i{
    color: rgb(255, 147, 5);
    font-size: 13px;
}
.reviews p{
    margin-top: 10px;
    color: darkgray;
    font-size: 12px;
    font-weight: bold;
}
.reviews h6{
    color: #ffffff;
  margin-bottom: 10px;
}
.reviews h6 img{
    width: 10%;
}
@media (max-width:1095px){
    .review-card{
        grid-template-columns: 1fr;
        height: auto;
    }
}
/* Review Section End */


/* contact Section Start */
.contact{
    padding: 100px 12.5% 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    transition: all .50s ease;
}
.contact h3{
    font-size: 23px;
    color: #ffffff;
}
.contact h3 span{
    font-family: myfont;
    color: #790000;
    border-bottom: 3px solid #790000;
    font-weight: bold;
}
.contact-info{
    margin-bottom: 10px;
}
.contact-info p{
    margin-top: 15px;
    font-size: 13px;
    color: #ffffff;
}
.list{
    margin-top: 16px;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}
.social i{
    padding: 10px;
    background: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 3px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.social i:hover{
    background-color:  rgb(255, 255, 255);
    color: hsl(0, 0%, 0%);
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 10px;
    background-color:  rgb(238, 231, 231);
    color: #353535;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 160px;
}
.contact-form input::placeholder{
    color: #110505;
}
.contact-form textarea::placeholder{
    color: #030101;
}
.contact-form .submit{
    display: inline-block;
    font-size: 15px;
    background-color: rgb(252, 242, 242);
    color: #000000;
    width: 160px;
    transition: 0.5s;
    cursor: pointer;
}
.contact-form .submit:hover{
    width: 175px;
}
@media (max-width:920px){
    .contact{
        grid-template-columns: 1fr;
        max-width: 100%;
        height: auto;
    }
}
/* contact Section End */


/* Footer Start */
footer{
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #790000;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    padding: 0px 12.5% 0px;
}
footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .icon a{
    font-size: 15px;
}
footer .content .box{
    width: 33%;
    transition: all .0.4s ease;
}
footer .content p{
    color: #ffffff;
    text-align: justify;
}
footer .content .topic{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 16px;
}
footer .content .lower .topic{
    margin: 24px 0 5px 0;
}
footer .content .middle{
    padding-left: 80px;
}
footer .content .middle a{
    line-height: 32px;
    color: #ffffff;
    transition: 0.5s;
}
footer .content .middle a:hover{
    color: rgb(0, 0, 0);
}
footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #000000;
}
footer .content .right input::placeholder{
    color: #fff;
    font-size: 13px;
}
footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 5px;
    background: transparent;
    letter-spacing: 1px;
    margin-top: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
footer .content .right input[type="submit"]:hover{
    background-color: rgb(255, 255, 255);
    color: hsl(0, 0%, 0%);
}
footer .bottom{
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 0 40px 5px 0;
}
footer .bottom a{
    color: rgb(255, 255, 255);
}
footer a{
    transition: all .50s ease;
}
.phone{
    margin-top: 10px;
}
.phone a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media (max-width:1100px){
    footer .content .middle{
        padding-left: 50px;
    }
}
@media (max-width:950px){
    footer .content .box{
        width: 50%;
    }
    .content .right{
        margin-top: 40px;
    }
}
@media (max-width:560px){
    footer{
        position: relative;
    }
    footer .content .box{
        width: 100%;
        margin-top: 30px;
    }
    footer .content .middle{
        padding-left: 0;
    }

}
/* Footer End */



